<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- i am gautam sethiya.
    {{name}} is from {{place}} and mu age is {{age}}-->

    <h1>Welcome to the text analyzer.enter your text</h1>
    <form action ='/analyse' method ='get'>
        <textarea name ='text' style='width: 575px; height: 79px;'></textarea>
        <br>
        <input type ="checkbox" name ="removepunc">Remove ppunctuation<br>
        <input type ="checkbox" name ="fullcase">Upper case<br>
        <input type ="checkbox" name ="new_line_remover">newline remove<br>
        <input type ="checkbox" name ="space_remover">space remove<br>
        <input type ="checkbox" name ="characterCounter">char count<br>
        <button type ='submit'>Analyze text</button>
    </form>
</body>
</html>